/* Variables */
/* Breakpoints for media queries */
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global */
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  background-color: #f9f5f6;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Typography */
p {
  font-size: 1em;
  font-weight: 300;
}

h1 {
  font-size: 2.25em;
  color: #02020A;
  margin-left: -3px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.375em;
  margin-left: -1px;
  font-weight: 400;
}

span {
  color: #da2439;
  font-weight: 400;
}

.heading h1 {
  margin-top: -10px;
}

.heading span {
  font-size: 0.875em;
  margin-left: -1px;
}

a {
  text-decoration: none;
  color: #da2439;
  border-bottom: 1px solid #da2439;
  -webkit-transition: all .1s;
  transition: all .1s;
  padding-bottom: 1px;
}

a:hover {
  border-bottom: 1px solid transparent;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  background-color: #da2439;
  color: #f9f5f6;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.2em 2.6em;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

button:hover {
  background-color: #fa2942;
}

button a {
  color: #f9f5f6;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: none;
}

button a:hover {
  border-bottom: none;
}

/* Scroll animations */
.fade-left {
  opacity: 0;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fade-left.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fade-right {
  opacity: 0;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fade-right.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fade-up-heading {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fade-up-heading.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fade-paragraphs {
  opacity: 1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all .75s;
  transition: all .75s;
}

.fade-paragraphs.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery-fade {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.gallery-fade.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Background absolute elements */
.bg__container {
  position: fixed;
  z-index: -1000;
}

.bg__container > img {
  position: fixed;
}

.pizza, .cheese, .forks, .pizza-full {
  width: 10em;
}

.grapes, .leaf, .mushroom, .olive {
  width: 5em;
}

.pizza {
  top: 4%;
  left: -10%;
}

.grapes {
  top: 36%;
  left: -1%;
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
}

.cheese {
  top: 5%;
  right: -10%;
}

.leaf {
  top: 59%;
  left: -3%;
}

.mushroom {
  top: 59%;
  right: -3%;
}

.forks {
  bottom: -5%;
  left: -10%;
}

.olive {
  top: 34%;
  right: -2%;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.pizza-full {
  bottom: -4%;
  right: -13%;
}

/* HEADER - logo and navigation */
header {
  padding: .8em 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__container .logo {
  height: 2.25em;
}

header .header__container .logo img {
  height: 100%;
}

header.colored {
  background-color: #f9f5f6;
  border-bottom: 1px solid #EFEAEC;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.nav-desktop {
  display: none;
}

.hamb-menu {
  cursor: pointer;
  z-index: 1000;
}

.hamb-menu .bar1, .hamb-menu .bar2, .hamb-menu .bar3 {
  width: 30px;
  height: 2px;
  background-color: #da2439;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hamb-menu .bar1, .hamb-menu .bar2 {
  margin-bottom: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  background-color: #f9f5f6;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
  background-color: #f9f5f6;
}

.slideInNav {
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  max-height: 100vh;
}

.nav__mobile {
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #da2439;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav__mobile ul {
  list-style: none;
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__mobile ul .dostava {
  color: #f9f5f6;
  background-color: #02020A;
  padding-bottom: 2em;
}

.nav__mobile ul li {
  padding: 2em 0;
}

.nav__mobile ul li a {
  color: #f9f5f6;
  -webkit-transition: all .1s;
  transition: all .1s;
  border-bottom: none;
}

.nav__mobile ul li a:hover {
  color: #f9f5f68f;
}

.nav__mobile .call {
  width: 20px;
  height: 20px;
  fill: #f9f5f6;
  margin-right: 3px;
  margin-bottom: -4px;
}

.nav__mobile .fb, .nav__mobile .insta {
  width: 25px;
  height: 25px;
}

.nav__mobile .fb {
  fill: #0084ff;
  margin-right: 2em;
}

.nav__mobile .insta {
  fill: url(#MyGradient);
}

.active {
  visibility: visible;
}

.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* HERO - background image */
.hero {
  height: 30vh;
  background: url("../slike/logo-big.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin: 0 auto;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  overflow: hidden;
}

/* ABOUT - section */
.about {
  width: 80%;
  margin: auto;
  padding: 7em 0 9em 0;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .row:last-of-type {
  margin-top: 7em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about p {
  margin-top: 1.25em;
}

.about__photo {
  margin-top: 2.5em;
}

.about__photo-container {
  width: 95%;
  position: relative;
  z-index: -4;
}

.about__photo-container img {
  width: 100%;
  display: block;
}

.about__photo-container img:first-of-type {
  position: relative;
  z-index: -2;
}

.about__photo-container img:last-of-type {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: -3;
}

/* MENU - section */
.menu {
  background-color: #EFEAEC;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  padding: 5em 0 8em 0;
  margin-top: 7em;
  position: relative;
}

.menu__container {
  width: 80%;
  margin: auto;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.menu__photo {
  width: 70%;
  margin: 7em auto 0 auto;
}

.menu__photo-container {
  position: relative;
}

.menu__photo-container img {
  width: 100%;
  display: block;
}

.menu__photo-container img:first-child {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: -1;
}

.menu__desc a {
  padding-bottom: 0;
  border-bottom: none;
  color: #f9f5f6;
}

.menu__desc p {
  margin: 1.25em 0 2.75em 0;
}

.services {
  width: 80%;
  margin: auto;
  padding-top: 7em;
}

.services__row {
  margin-top: 5em;
}

.services__row:last-child {
  margin-bottom: 10em;
}

.services h2 {
  margin-left: -2px;
}

.services__desc p {
  margin-top: 2em;
}

.services__photo {
  width: 75%;
  margin: 3em auto 0 auto;
}

.services__photo-container {
  position: relative;
  z-index: -4;
}

.services__photo-container img {
  width: 100%;
  display: block;
}

.services__photo-container img:first-of-type {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: -3;
}

.services__photo-container img:last-of-type {
  position: relative;
  z-index: -2;
}

.gallery {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: .5em;
}

.gallery img {
  width: 100%;
  display: block;
  border: 1px solid #EFEAEC;
}

.contact {
  width: 80%;
  margin: auto;
  padding-top: 9em;
}

.contact .heading h1 {
  margin-top: -10px;
}

.contact__wrapper {
  margin-top: 5em;
}

.contact__logo {
  width: 65%;
  margin: 0 auto 5em auto;
}

.contact__logo img {
  width: 100%;
  display: block;
}

.contact__info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.contact__info-box {
  margin-bottom: 4em;
}

.contact__info-box h3 {
  margin-left: -1px;
  margin-bottom: .5em;
}

.contact__info-box ul {
  list-style: none;
  font-weight: 300;
  white-space: nowrap;
}

.contact__info-box span {
  font-size: 1em;
  font-weight: 300;
}

.contact .icons {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.contact .social {
  color: #02020A;
  border-bottom: none;
}

/* MEDIA QUERY changes */
@media screen and (min-width: 560px) {
  html {
    font-size: 14px;
  }
  .pizza, .cheese, .forks, .pizza-full {
    width: 13em;
  }
  .grapes, .leaf, .mushroom, .olive {
    width: 7em;
  }
  .hero {
    width: 100%;
    background: url("../slike/hero-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .gallery .last {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .gallery .first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .hero {
    height: 30vh;
    background-size: cover;
  }
  .menu__photo {
    width: 50%;
  }
  .services__photo {
    width: 60%;
  }
  .contact__logo {
    width: 50%;
  }
  .contact__info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 560px) and (orientation: landscape) {
  .hero {
    height: 50vh;
  }
  .pizza, .cheese, .forks, .pizza-full {
    width: 10em;
  }
  .grapes, .leaf, .mushroom, .olive {
    width: 6em;
  }
  .pizza {
    left: -6%;
  }
  .cheese {
    right: -6%;
  }
  .pizza-full {
    right: -5%;
    bottom: -11%;
  }
  .mushroom {
    top: 50%;
  }
  .olive {
    left: 50%;
    top: unset;
    bottom: -7%;
    -webkit-transform: rotate(0) translateX(-50%);
            transform: rotate(0) translateX(-50%);
  }
  .grapes {
    top: 7%;
    left: 50%;
    -webkit-transform: rotate(0) translateX(-50%);
            transform: rotate(0) translateX(-50%);
  }
  .leaf {
    top: 50%;
  }
  .forks {
    bottom: -15%;
    left: -7%;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 16px;
  }
  .contact__logo {
    width: 40%;
  }
  .grapes {
    top: 4%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .leaf {
    top: 45%;
    left: -2%;
  }
  .mushroom {
    top: 45%;
    right: -2%;
  }
  .olive {
    top: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .menu {
    margin-top: 9em;
    padding-bottom: 9em;
  }
  .hero {
    height: 35vh;
    background-size: cover;
  }
  .pizza-full {
    right: -9%;
  }
}

@media screen and (min-width: 760px) and (orientation: landscape) {
  .pizza, .cheese, .forks, .pizza-full {
    width: 9em;
  }
  .grapes, .leaf, .mushroom, .olive {
    width: 6em;
  }
  .hero {
    height: 50vh;
  }
}

@media screen and (min-width: 900px) {
  .pizza, .cheese, .forks, .pizza-full {
    width: 15em;
  }
  .grapes, .leaf, .mushroom, .olive {
    width: 8em;
  }
  .pizza {
    top: -1%;
    left: -3%;
  }
  .cheese {
    top: 2%;
    right: -3%;
  }
  .forks {
    bottom: -5%;
    left: -5%;
  }
  .pizza-full {
    bottom: -4%;
    right: -5%;
  }
  .hero {
    height: 40vh;
  }
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__photo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__photo-container {
    width: 80%;
  }
  .menu__desc {
    padding-left: 1.5em;
  }
  .menu__photo, .menu__desc {
    width: 50%;
  }
  .services__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services__desc {
    width: 60%;
    padding-right: 2.5em;
  }
  .services__photo {
    width: 40%;
  }
  .contact__info {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .contact__info-box:nth-of-type(2) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contact__info-box:nth-of-type(3) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .pizza, .cheese, .forks, .pizza-full {
    width: 9em;
  }
  .grapes, .leaf, .mushroom, .olive {
    width: 6em;
  }
}

@media screen and (min-width: 1020px) {
  .pizza, .cheese, .forks, .pizza-full {
    width: 16em;
  }
  .leaf, .mushroom, .olive {
    width: 9em;
  }
  .grapes {
    width: 7em;
  }
  .olive {
    top: 84%;
  }
  .slideInNav, .hamb-menu {
    display: none;
  }
  header .header__container .logo {
    height: 3em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-desktop {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    white-space: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-desktop ul li {
    display: block;
    font-weight: 400;
  }
  .nav-desktop ul li a {
    color: #02020A;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .nav-desktop ul li a:hover {
    color: #da2439;
    border-bottom: 1px solid #da2439;
  }
  .hero {
    height: 45vh;
  }
  .about .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .row:last-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__desc {
    width: 50%;
    padding-left: 1.5em;
  }
  .about__desc:first-of-type {
    padding-right: 1.5em;
    padding-left: 0;
  }
  .about__photo {
    width: 50%;
    margin-top: 0;
    padding-right: 0;
    padding-left: 1.5em;
  }
  .about__photo:first-of-type {
    padding-right: 1.5em;
    padding-left: 0;
  }
  .about .right {
    text-align: right;
  }
  .contact__logo {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5em 0 8em 0;
  }
  .contact__info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 5em;
  }
  .contact__info-box {
    margin-bottom: 0;
  }
  .contact__info-box:nth-of-type(2) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contact__info-box:nth-of-type(3) {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1220px) {
  .pizza, .cheese, .forks, .pizza-full {
    width: 17em;
  }
  .leaf, .mushroom, .olive {
    width: 10em;
  }
  .grapes {
    width: 8em;
  }
  .hero {
    height: 50vh;
    background-size: cover;
  }
  .gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .gallery .first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .gallery .last {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .menu__photo-container {
    width: 70%;
  }
  .services__photo {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 17px;
  }
  .about {
    padding: 10em 0 13em 0;
  }
  .menu {
    margin-top: 12em;
  }
  .pizza, .cheese, .forks, .pizza-full {
    width: 20em;
  }
  .leaf, .mushroom, .olive {
    width: 12em;
  }
  .grapes {
    width: 10em;
  }
  .pizza {
    left: -4%;
  }
  .pizza-full {
    bottom: -10%;
    right: -4%;
  }
  .forks {
    bottom: -12%;
    left: -5%;
  }
  .leaf {
    top: 47%;
  }
  .mushroom {
    top: 47%;
  }
  .olive {
    top: 80%;
  }
  .menu__photo-container {
    width: 55%;
  }
  .services__photo {
    width: 30%;
  }
  .contact__logo {
    width: 25%;
    margin-right: 5em;
  }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__container, .about, .gallery, .menu__container,
  .services, .contact {
    max-width: 1250px;
  }
}
