/* Variables */

$bg-prim-color: #f9f5f6;
$bg-sec-color: #EFEAEC;

$text-prim-color: #02020A;
$text-sec-color: #da2439;

$font-primary: 'Josefin Sans', sans-serif;

$max-width: 1250px;

/* Breakpoints for media queries */

$bp-mobile-1: 560px;
$bp-tablet-1: 760px;
$bp-tablet-2: 900px;
$bp-laptop-1: 1020px;
$bp-desktop-1: 1220px;
$bp-desktop-2: 1400px;


/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    background-color: $bg-prim-color;
    font-family: $font-primary;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* Typography */

p {
    font-size: 1em;
    font-weight: 300;
}

h1 {
    font-size: 2.25em;
    color: $text-prim-color;
    margin-left: -3px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.375em;
    margin-left: -1px;
    font-weight: 400;
}

span {
    color: $text-sec-color;
    font-weight: 400;
}

.heading {

    h1 {
        margin-top: -10px;
    }
    span {
        font-size: 0.875em;
        margin-left: -1px;
    }
}

a {
    text-decoration: none;
    color : $text-sec-color;
    border-bottom: 1px solid $text-sec-color;
    transition: all .1s;
    padding-bottom: 1px;

    &:hover {
        border-bottom: 1px solid transparent;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    background-color: $text-sec-color;
    color: $bg-prim-color;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.2em 2.6em;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: #fa2942;
    }

    a {
        color: $bg-prim-color;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }
}

/* Scroll animations */

.fade-left {
    opacity: 0;
    transform: translateX(-75%);
    transition: all 1s;
}

.fade-left.appear {
    opacity: 1;
    transform: translateX(0);
}

.fade-right {
    opacity: 0;
    transform: translateX(75%);
    transition: all 1s;
}

.fade-right.appear {
    opacity: 1;
    transform: translateX(0);
}

.fade-up-heading {
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s;
}

.fade-up-heading.appear {
    opacity: 1;
    transform: translateY(0);
}

.fade-paragraphs {
    opacity: 1;
    transform: translateY(50%);
    transition: all .75s;
}

.fade-paragraphs.appear {
    opacity: 1;
    transform: translateY(0);
}

.gallery-fade {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
}

.gallery-fade.appear {
    opacity: 1;
    transform: translateY(0);
}
/* Background absolute elements */

.bg__container {
    position: fixed;
    z-index: -1000;
}

.bg__container > img {
    position: fixed;
}

.pizza, .cheese, .forks, .pizza-full {
    width: 10em;
}

.grapes, .leaf, .mushroom, .olive {
    width: 5em;
}

.pizza {
    top: 4%;
    left: -10%;
}

.grapes {
    top: 36%;
    left: -1%;
    transform: rotate(-75deg);
}

.cheese {
    top: 5%;
    right: -10%;
}

.leaf {
    top: 59%;
    left: -3%;
}

.mushroom {
    top: 59%;
    right: -3%;
}

.forks {
    bottom: -5%;
    left: -10%;
}

.olive {
    top: 34%;
    right: -2%;
    transform: rotate(-70deg);
}

.pizza-full {
    bottom: -4%;
    right: -13%;
}

/* HEADER - logo and navigation */


header {
    // min-height: 8vh;
    padding: .8em 0;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
    box-shadow: none;
    
    .header__container {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 2.25em;
            img {
                height: 100%;
            }
        }
    }
}

header.colored {
    background-color: $bg-prim-color;
    border-bottom: 1px solid $bg-sec-color;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.1);
}

.nav-desktop {
    display: none;
}

.hamb-menu {
    cursor: pointer;
    z-index: 1000;

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background-color: $text-sec-color;
        transition: all .3s;
    }

    .bar1, .bar2 {
        margin-bottom: 5px;
    }
}
.change .bar1 {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: $bg-prim-color;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: $bg-prim-color;
}

.slideInNav {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    max-height: 100vh;
}

.nav__mobile { 
    // width: 250px;
    text-align: center;
    transition: all 0.3s;
    // position: absolute;
    // right: 0;
    background-color: $text-sec-color;
    transform: translateX(100%);

    ul {
        list-style: none;
        padding-top: 3em;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .dostava {
            color: $bg-prim-color;
            background-color: #02020A;
            padding-bottom: 2em;
        }

        li {
            padding: 2em 0;

            a {
                color: $bg-prim-color;
                transition: all .1s;
                border-bottom: none;
                
                &:hover {
                    color: #f9f5f68f;
                }
            }
        }
    }

    .call {
        width: 20px;
        height: 20px;
        fill: $bg-prim-color;
        margin-right: 3px;
        margin-bottom: -4px;
    }

    .fb, .insta {
        width: 25px;
        height: 25px;
    }
    .fb {
        fill: #0084ff;
        margin-right: 2em;
    }
    .insta {
        // fill: $bg-prim-color;
        fill: url(#MyGradient);
    }
}

.active {
    visibility: visible;
}

.show {
    transform: translateX(0);
}






/* HERO - background image */

.hero {
    height: 30vh;
    background: url('../slike/logo-big.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    margin: 0 auto;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    overflow: hidden;
}

/* ABOUT - section */

.about {
    width: 80%;
    margin: auto;
    padding: 7em 0 9em 0;

    .row {
        display: flex;
        flex-direction: column;

        &:last-of-type {
            margin-top: 7em;
            flex-direction: column-reverse;
        }
    }

    

    p {
        margin-top: 1.25em;
    }

    &__photo {
        margin-top: 2.5em;

        &-container {
            width: 95%;
            position: relative;
            z-index: -4;

            img {
                width: 100%;
                display: block;

                &:first-of-type {
                    position: relative;
                    z-index: -2;
                }

                &:last-of-type {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    z-index: -3;
                }
            }

            
        }
    }

}

/* MENU - section */

.menu {
    background-color: $bg-sec-color;
    transform: skewY(5deg);
    padding: 5em 0 8em 0;
    margin-top: 7em;
    position: relative;

        &__container {
            width: 80%;
            margin: auto;
            transform: skewY(-5deg);
        }

        &__photo {
            width: 70%;
            margin: 7em auto 0 auto;
        
            &-container {
                position: relative; 

                img {
                    width: 100%;
                    display: block;
                }
                img:first-child {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: -1;
                }
            }
        }

        &__desc {

            a {
                padding-bottom: 0;
                border-bottom: none;
                color: $bg-prim-color;
            }

            p {
                margin: 1.25em 0 2.75em 0;
            }
            
        }

}

.services {
    width: 80%;
    margin: auto;
    padding-top: 7em;


    &__row {
        margin-top: 5em;

        &:last-child {
            margin-bottom: 10em;
        }
    }

    h2 {
        margin-left: -2px;
    }

    &__desc {

        p {
            margin-top: 2em;
        }
        
    }

    &__photo {
        width: 75%;
        margin: 3em auto 0 auto;

        &-container {
            position: relative; 
            z-index: -4;

            img {
                width: 100%;
                display: block;

                &:first-of-type {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    z-index: -3;
                }

                &:last-of-type {
                    position: relative;
                    z-index: -2;
                }
            }

        }
    }
}

.gallery {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    
    img {
        width: 100%;
        display: block;
        border: 1px solid $bg-sec-color;
    }
    
}

.contact {
    width: 80%;
    margin: auto;
    padding-top: 9em;
    
    

    .heading {

        h1 {
            margin-top: -10px;
        }
    }
    &__wrapper {
        margin-top: 5em;
    }

    &__logo {
        width: 65%;
        margin: 0 auto 5em auto;
        
        img {
            width: 100%;
            display: block;
        }
    }

    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

        &-box {
            margin-bottom: 4em;

            h3 {
                margin-left: -1px;
                margin-bottom: .5em;
            }

            ul {
                list-style: none;
                font-weight: 300;
                white-space: nowrap;
            }

            span {
                font-size: 1em;
                font-weight: 300;
            }
        }
    }

    .icons {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }

    .social {
        color: $text-prim-color;
        border-bottom: none;
    }

}

/* MEDIA QUERY changes */
@media screen and (min-width: $bp-mobile-1) {
    html {
        font-size: 14px;
    }

    .pizza, .cheese, .forks, .pizza-full {
        width: 13em;
    }
    
    .grapes, .leaf, .mushroom, .olive {
        width: 7em;
    }

    .hero {
        width: 100%;
        background: url('../slike/hero-bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        
        .last {
            grid-column: 1/3;
        }

        .first {
            grid-column: 1/3;
        }
        
    }

    .hero {
        height: 30vh;
        background-size: cover;
    }

    .menu__photo {
        width: 50%;
    }

    .services__photo {
        width: 60%;
    }

    .contact__logo {
        width: 50%;
    }

    .contact__info {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $bp-mobile-1)
              and (orientation: landscape) {
    
    .hero {
        height: 50vh;
    }

    .pizza, .cheese, .forks, .pizza-full {
        width: 10em;
    }
    
    .grapes, .leaf, .mushroom, .olive {
        width: 6em;
    }

    .pizza {
        left: -6%;
    }

    .cheese {
        right: -6%;
    }

    .pizza-full {
        right: -5%;
        bottom: -11%;
    }

    .mushroom {
        top: 50%;
    }

    .olive {
        left: 50%;
        top: unset;
        bottom: -7%;
        transform: rotate(0) translateX(-50%);
    }

    .grapes {
        top: 7%;
        left: 50%;
        transform: rotate(0) translateX(-50%);
    }

    .leaf {
        top: 50%;
    }

    .forks {
        bottom: -15%;
        left: -7%;
    }
}

@media screen and (min-width: $bp-tablet-1) {
    html {
        font-size: 16px;
    }

    .contact__logo {
        width: 40%;
    }


    .grapes {
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .leaf {
        top: 45%;
        left: -2%;
    }
    
    .mushroom {
        top: 45%;
        right: -2%;
    }
    
    .olive {
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu {
        margin-top: 9em;
        padding-bottom: 9em;
    }

    .hero {
        height: 35vh;
        background-size: cover;
    }

    .pizza-full {
        right: -9%;
    }
    
}

@media screen and (min-width: $bp-tablet-1)
              and (orientation: landscape) {
    
    .pizza, .cheese, .forks, .pizza-full {
        width: 9em;
    }
    
    .grapes, .leaf, .mushroom, .olive {
        width: 6em;
    }

    .hero {
        height: 50vh;
    }
}

@media screen and (min-width: $bp-tablet-2) {
    .pizza, .cheese, .forks, .pizza-full {
        width: 15em;
    }
    
    .grapes, .leaf, .mushroom, .olive {
        width: 8em;
    }
    
    .pizza {
        top: -1%;
        left: -3%;
    }
    
    .cheese {
        top: 2%;
        right: -3%;
    }

    
    .forks {
        bottom: -5%;
        left: -5%;
    }
    
    .pizza-full {
        bottom: -4%;
        right: -5%;
    }

    .hero {
        height: 40vh;
    }

    .menu__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .menu__photo {
        margin: 0;
        display: flex;
        justify-content: center;        

        &-container {
            width: 80%;
        }
    }

    .menu__desc {
        padding-left: 1.5em;
    }

    .menu__photo, .menu__desc {
        width: 50%;
    }

    .services__row {
        display: flex;
    }

    .services__desc {
        width: 60%;
        padding-right: 2.5em;
    }

    .services__photo {
        width: 40%;
    }

    .contact__info {
        grid-template-columns: 1fr 1fr 1fr;

        &-box:nth-of-type(2) {
            justify-self: center;
        }
        &-box:nth-of-type(3) {
            justify-self: end;
        }
    }
}

@media screen and (min-width: $bp-tablet-2)
              and (orientation: landscape) {
    
    .pizza, .cheese, .forks, .pizza-full {
        width: 9em;
    }
    
    .grapes, .leaf, .mushroom, .olive {
        width: 6em;
    }
}

@media screen and (min-width: $bp-laptop-1) {

    .pizza, .cheese, .forks, .pizza-full {
        width: 16em;
    }
    
    .leaf, .mushroom, .olive {
        width: 9em;
    }

    .grapes {
        width: 7em;
    }

    .olive {
        top: 84%;
    }

    .slideInNav, .hamb-menu {
        display: none;
    }

    header {
        .header__container {
            .logo {
                height: 3em;
                flex: 1;
            }
        }
    }

    .nav-desktop {
        display: block;
        flex: 1;
        

        ul {
        display: flex;
        list-style: none;
        white-space: nowrap;
        justify-content: space-between;

            li {
                display: block;
                font-weight: 400;

                a {
                    color: $text-prim-color;
                    border-bottom: 1px solid transparent;
                    padding-bottom: 5px;
                    transition: all .2s;
                }

                a:hover {
                    color: $text-sec-color;
                    border-bottom: 1px solid $text-sec-color;
                }
            }
        }
    }

    .hero {
        height: 45vh;
    }

    .about {

        .row {
            flex-direction: row;

            &:last-of-type {
                flex-direction: row;
            }
        }

        &__desc {
            width: 50%;
            padding-left: 1.5em;
            &:first-of-type {
                padding-right: 1.5em;
                padding-left: 0;
            }
        }

        &__photo {
            width: 50%;
            margin-top: 0;
            padding-right: 0;
            padding-left: 1.5em;

            &:first-of-type {
                padding-right: 1.5em;
                padding-left: 0;
            }
        }

        .right {
            text-align: right;
        }
    }

    .contact {

        &__logo {
            width: 30%;
            align-self: center;
            margin: 0;
            
        }

        &__wrapper {
            display: flex;
            margin: 5em 0 8em 0;
        }

        &__info {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            row-gap: 5em;

            &-box {
                margin-bottom: 0;
            }

            &-box:nth-of-type(2) {
                justify-self: center;
            }
            &-box:nth-of-type(3) {
                justify-self: center;
            }
        }
    }
}

@media screen and (min-width: $bp-desktop-1) {

    .pizza, .cheese, .forks, .pizza-full {
        width: 17em;
    }
    
    .leaf, .mushroom, .olive {
        width: 10em;
    }

    .grapes {
        width: 8em;
    }

    .hero {
        height: 50vh;
        background-size: cover;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);

        .first {
            grid-column: 1/2;
            grid-row: 1 / 3;
        }
        .last {
            grid-column: 3/4;
        }
    }

    .menu__photo-container {
        width: 70%;
    }
    .services__photo {
        width: 35%;
    }
}

@media screen and (min-width: $bp-desktop-2) {

    html {
        font-size: 17px;
    }

    .about {
        padding: 10em 0 13em 0;
    }

    .menu {
        margin-top: 12em;
    }

    .pizza, .cheese, .forks, .pizza-full {
        width: 20em;
    }
    
    .leaf, .mushroom, .olive {
        width: 12em;
    }
    .grapes {
        width: 10em;
    }

    .pizza {
        left: -4%;
    }

    .pizza-full {
        bottom: -10%;
        right: -4%;
    }

    .forks {
        bottom: -12%;
        left: -5%;
    }
    .leaf {
        top: 47%;
    }
    .mushroom {
        top: 47%;
    }

    .olive {
        top: 80%;
    }
    .menu__photo-container {
        width: 55%;
    }
    .services__photo {
        width: 30%;
    }
    
    .contact__logo {
        width: 25%;
        margin-right: 5em;
    }
    .contact__info {
        display: flex;
        justify-content: space-between;
    }

    .header__container, .about, .gallery, .menu__container,
    .services, .contact {
        max-width: $max-width;
    }
}